body, html, main {
	/* important */
	height: 100%;
	margin: 0%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000329
}
footer, .navigation{
	background-color: #000342;
	width: 100%;
	border-top: outset;
	border-bottom: outset;
	border-color: #000028;
}
footer{
	position: static;
	bottom: 0;
	left: 0;
	height: 100px;
}
.navigation{
	position: fixed;
	top: 0;
	left: 0;
	height: 66px;
	z-index: 100;
} 
.cd-fixed-bg {
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("./background.png");
}
 
.cd-scrolling-bg {
	min-height: 100%;
}
h1{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px #000;
}
h2{
	align-items: center;
	display: flex;
	justify-content: center;
}
h6{  
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-shadow: 0 0 10px #000;
}
.cd-container{
	background-color: #0385c4;
	margin-left: 3em;
	margin-right: 3em;
	border-style: outset;
	border-color: #000028;
}
p{
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: Black;
  padding-left: 10%;
  padding-right: 10%;
}
p.intro{
	height: 27.5vh;
}

.cd-container, .navigation, footer{
	box-shadow: 0px 0px 11px #000000;
}
.button{
	font-size: 20px;
	text-decoration: none;
	background-color: #20B5F4;
	color: Black;
	padding: 14px 16px;
	text-align: center;
	display: inline-block;
	border-radius: 7px;
	border: ridge;
	border-color: #000028;
	transition-delay: 0.025s;
	-webkit-transition-duration: 0.025s;
	
}
.button:hover{
	background-color: #000342;
	color: White;
}
.button-container{
	margin-top: 4px;
	margin-left: 10%;
}
img{
	max-height: 280px;
	max-width: 320px;
	margin-top: 10px;
	border: ridge;
	border-color: #000028;
}
figure{
	float: right;
}
.box{
	float: right;
	margin-right: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
