html,
body {
    margin: 0px 0px 0px 0px;
    min-height: 100vh;
    padding: 0px 0px 0px 0px;
}

html {
    background-color: #6a6a6a;
    overflow-x: hidden;
    font-family: Papyrus, fantasy; 
    //font-family: 'Lato', sans-serif;
    //font-family: 'Open Sans', sans-serif;
}

body {}

h1 {
    margin: 0;
}

div {
    margin: 0px;
    padding: 0px;
    background: #F4F4F1;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: -9vw;
    background-image: linear-gradient(#117711, #336600 70%);
    width: 12vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home,
.projects,
.resume,
.links,
.todo {
    font-family: Papyrus, fantasy;
    font-size: .9vw;
    background: #F4F4F1;
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: relative;
    left: 2.5vw;
    width: 7vw;
    border: none;
    border-radius: 50%;
    border: 1px solid #555555;
    height: 6vw;
    box-shadow: 0px 0px 3px 5px rgba(0,0,0, .1);
}

.home {}

.projects {}

.resume {}

.links {}

.options {
    position: fixed;
    top: 0;
    left: 7vw;
    background-image: linear-gradient(#117711, #336600 70%);
    width: 12vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {}

.cover-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 2vw;
    height: 100vh;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 255, .1);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #555555;
}

.cover-2 {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 3vw;
    width: 4vw;
    height: 100vh;
    box-shadow: 0px 0px 5px 7px rgba(0, 0, 255, .1);
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
}

.nav-button {
    z-index: 7;
    position: fixed;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .4));
}

#zen {
    background: #F4F4F1;
    position: fixed;
    top: 41vh;
    left: -.5vw;
    overflow: hidden;
    width: 11vw;
    -webkit-clip-path: circle(40.0% at 10% 10%);
    clip-path: circle(37.0% at 50% 50%);
    transition: transform .4s;
    border: none;
}

.content {
    z-index: 1;
    position: relative;
    left: 8vw;
    width: 67vw;
    height: auto;
    min-height: 100vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: -7px 0px 5px .25px rgba(0, 0, 255, .1);
    border-left: 1px solid #555555;
}

.photo {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 75vw;
    height: 100vh;
    width: 25vw;
    background: black;
    filter: brightness(.5);
}

.photo-cover {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 74.9vw;
    width: 25vw;
    height: 100vh;
    -webkit-clip-path: polygon(1% 0, 0 0, 0 100%, 14% 100%);
    clip-path: polygon(1% 0, 0 0, 0 100%, 14% 100%);
    background: #F4F4F1;
}
