html, body{
    margin: 0px 0px 0px 0px ;
    min-height: 100vh;
    padding: 0px 0px 0px 0px ;
}

html {
    background-color: #6a6a6a;
}

body {
}

div {
    margin: 0px;
    padding: 0px;
    background-color: #F9F9F9;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 5.5vw auto;
    grid-template-rows: 100vh auto;
}
.nav-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    position: fixed;
}
.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-left-style: solid;
    border-left-color: #ddd;
    border-width: 1px;
}
